.env
__pycache__/
*.pyc
.venv/
venv/
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
transform/dbt_project/target/
transform/dbt_project/logs/
transform/dbt_project/dbt_packages/
.DS_Store
